@import '../../css/colors';

.AddCollaboratorIcon {
  display: flex;
  justify-content: center;
  border: 1.3333333333333333px dashed #9898ae;
  cursor: pointer;

  &.sm {
    $diameter: 30px;

    width: $diameter;
    height: $diameter;
    border-radius: ($diameter / 2) + 1;
  }

  &.md {
    $diameter: 40px;

    width: $diameter;
    height: $diameter;
    border-radius: ($diameter / 2) + 1;
  }

  &.lg {
    $diameter: 50px;

    width: $diameter;
    height: $diameter;
    border-radius: ($diameter / 2) + 1;
  }
}
