@import '../../css/colors';

.NewCard {
  flex-grow: 1;

  textarea {
    margin-top: 10px;
    border-radius: 5px;
    resize: none;
    border: 1px solid $grey;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    padding: 10px;
    height: 80px;
  }

  .actions {
    display: flex;
    align-items: center;
    padding-top: 10px;

    .icon {
      padding: 5px;
      margin-left: 20px;
      cursor: pointer;

      &:hover {
        fill: darken($grey-purple, 10%) !important;
      }
    }
  }
}