@import '../css/colors';

.ButtonAdd {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  color: $dark-grey;
  cursor: pointer;
  width: 100%;

  .label {
    font-size: 16px;
    padding: 0 10px;
  }
}