@import '../css/colors';

.ProfileCircle {
  $diameter: 41px;

  display: flex;
  justify-content: center;
  width: $diameter;
  height: $diameter;
  background-color: $grey;
  border-radius: ($diameter/ 2) + 1;
  border: 1px solid lighten($dark-grey, 25%);
}