// colors
$white: #ffffff;
$light-grey: #edf1f8;
$a5: #f6f8fc;
$grey: #c9ced5;
$grey-purple: #afb0c3;
$dark-grey: #7a838f;
$light-blue: #70b3f8;
$light-purple: #9ba8fb;
$purple: #878fdc;
$dark-purple: #707090;


// global variables
$side-menu-width: 120px;
$margin-right-width: 40px;
$margin-left-width: 40px;

